.App{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: honeydew;
}

.subApp{
    background-color: rgb(127, 209, 158);
    height: 70vh;
    width: 40vw;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 5px 3px 4px rgb(107, 105, 105);
}
form{
    display: flex;
    border-radius: 20px;
    background-color: white;
    margin-top: 10px;
}
.addto{
    outline-width: 0;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
}
.clicktodo{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    outline-width: 0;
    background-color: green;
    color: white;
}
.todoList{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.todoList::-webkit-scrollbar{
    display: none;
}
.selectors{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 20vw;
    justify-content: space-between;
}
.selectors button{
    padding: 5px 10px;
    border-radius: 10px;
    background: transparent;
    outline-width: 0;
    border: 2px solid white;
    color: white;
    transition: transform 100ms ease-out;
}
.selectors button:hover{
    background: white;
    color: green;
    transform: scale(1.1);
    cursor: pointer;
}